
<body>
    <input id="omikuji_btn" type="button" value="おみくじを引く">
    <script>
        document.getElementById("omikuji_btn").onclick = function() {
               var rnd = Math.floor( Math.random() * 6 );
            var omikuji;
            if (rnd === 0) omikuji = "大吉";
            if (rnd === 1) omikuji = "吉";
            if (rnd === 2) omikuji = "中吉";
            if (rnd === 3) omikuji = "小吉";
            if (rnd === 4) omikuji = "末吉";
            if (rnd === 5) omikuji = "凶";
            alert(omikuji);
            
        }
    </script>
</body>



<%= month_calendar do |date| %>
          <%= date %>
          <% end %>
<div class="contents row">
  <% @worships.each do |worship| %>
    <%= render partial: "worship", locals: { worship: worship } %>
  <% end %>
  
</div>

<%= form_with(url: search_worships_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  
<% end %>


<!-- タグはHTMLにおける要素のかたまりを示す記述 開始タグと、終わりタグがある。全体を要素という-->
<!-- head要素はウェブサイトの基本情報などを記載するブラウザ上には表示されない -->
<!-- body要素はブラウザ上に表示する情報を記載する -->
<!-- DOCTYPEはドキュメントタイプの略で、この文章がHTML文章であることを宣言する。この要素を記述しないと、レイアウトが崩れ、正しく表示されないことがある -->
<!-- html要素はHTML文章の始まりと終わりを示す要素。HTMLを書く際に必要-->
<!-- meta要素はHTML文章に関する情報を指定する際に使用、charsetはmeta要素の属性-->
<!-- 属性は、要素に情報を付け加える役割を持つ。属性の後には属性ちが続く。-->
<!-- 属性値はどのような属性なのかを示す値、-->
<!--<meta charset = "UTF-8>-->
<!-- charsetが属性、"UFT-8"が属性値-->
<!-- caraset属性は、meta要素にて、どのような文字コードを用いるか示すことができる属性-->
<!-- タイトル要素はウェブサイトのタイトルを指定する要素。ブラウザには表示されないが、タブに表示される-->
<!-- h1~h6要素（見出し要素）は文章の見出しを作るための要素。<h1>文字の大きさと太さが小さくなる-->
<!-- p要素はparagraphの略で、文章の段落を表す要素。見出しを除くテキストのほとんどがp要素で作られる-->
<!--br要素はLine Breakの略で、テキストを開業するための要素。br要素は終了タグが不要。-->
<!-- b要素はBoldの略。文字を太くする要素。<b> </b>で囲まれている部分だけ太字になる。-->
<!--a要素はAnchorの略、<a> </a>を囲ったテキストをリンクにすることができる。a要素をクリックすると特定のページに移動する。aタグのhref属性にURLを指定する-->
<!-- href属性はHyper Referenceの略で、href属性でリンクの移動さきを指定する。-->
<!-- コメントアウトはプログラムのコードをないものとして扱うことができるテクニック-->
<!-- コード上にメモを残せるので、他人が見たときに何を意図して書いているのかわかりやすい-->
<!-- 消さずに置いておきたいコードを残せる-->
<%# コメントアウト %>
<!-- HTMLとは左上に重力のある積み木である-->
<!-- HTMLは既に作成した要素の中に、さらに要素を追加することができる。入れ子構造-->
<!-- HTMLの要素は中身に応じて高さが変動する-->
<!--ブロックレベル要素 横幅いっぱいで表示される四角い箱、箱の中にテキストが表示、中身に関係なく横幅いっぱいになる、高さは中身によって変わる、縦並びで表示される-->
<!-- インライン要素 中身のテキストの量の分だけ横幅が広がる、高さは中身によって変わる、連続すると横並びで表示される-->
<!--親要素とはある要素の一つ上位の階層にある要素-->
<!--子要素とは親要素から見てその下位階層にある要素-->
<!--header要素とはWebページ最上部のヘッダー専用のブロックレベル要素。head要素とは違う。-->
<!-- footer要素とはWebページ最下部のフッダー専用のブロックレベル要素-->
<!-- div要素はDivisionの略、「特定の意味がない」要素。汎用的に使うことができ、classセレクタを付与して使用する-->
<!-- heightプロパティとは、要素の高さを指定することができるプロパティ-->
<!-- widthプロパティとは、要素の幅を指定することができるプロパティ-->
<!-- % とは親要素のサイズを１００パーセントとした時、小要素のサイズを親要素に対して何%にするか決められる-->
<!--background-colorは背景色を指定する際に使用する。値で自由に色を指定できる。-->
<!--ul要素とはUnordered Listの略で、順序のないリストを示すブロックレベル要素-->
<!--li要素はList Itemの略でリストの項目を示すブロックレベル要素。ul要素の小要素-->
<!--list-styleプロパティはリストのスタイルを変更することができる。li要素の箇条書きのマークを変更することができる。noneを指定すると箇条書きの要素を消すことができる。-->